dist: xenial  # required for Python >= 3.7
sudo: false
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "pypy3"
cache: pip
install: pip install tox-travis
script: tox
branches:
  only:
    - main
